.leaflet-point-icon {
	background: transparent;
	outline: none;
}

.point-flag {
	position: relative;
	height: 80px;
	background: transparent;
	user-select: none;
}

.flag-text {
	position: absolute;
	top: 2px;
	left: 6px;
	color: #fff !important;
	font-size: 14px;
	font-weight: 300;
	white-space: nowrap;
	text-decoration: none;
	text-shadow: 0 0 4px rgba(0,0,0,0.8);
	cursor: pointer;
}

.flag-pole {
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	border-left: 1px solid #fff;
}

.flag-draggable-square {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	margin-bottom: -12px;
}

.flag-anchor {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 7px;
	height: 7px;
	margin-left: -3px;
	margin-bottom: -3px;
	border-radius: 100%;
	background: #fff;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.8);
}

